* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
}

input,
body {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }
}
