.container {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background: #1c2230;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  max-width: 600px;
  margin-top: 124px;
}

.heroContainer > img {
  width: 500px;
}

.heroContainer > p {
  margin: 12px 0;
  max-width: 500px;
}

.goodPoints {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(2, 350px);
  gap: 25px;
  margin: 50px 0;
}

.goodPoint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  transition: background 0.5s ease;
}

.goodPoint > h4 {
  margin: 16px 0 8px;
}

.goodPoint > p {
  text-align: center;
}

.stayProductiveContainer {
  display: flex;
}

.stayProductiveContainer > img {
  object-fit: contain;
  flex: 1;
}

.stayProductiveMessage {
  flex: 1;
  color: #fff;
}

.stayProductiveMessage > h1 {
  font-size: 36px;
  margin-bottom: 16px;
}

.stayProductiveMessage > p {
  margin: 8px 0;
  max-width: 555px;
}

.stayProductiveMessage > a {
  display: flex;
  align-items: center;
  position: relative;
  color: #81d9d4;
  width: fit-content;
  font-size: 16px;
}

.stayProductiveMessage > a > img {
  margin-left: 8px;
  object-fit: contain;
  transition: margin-left 0.4s ease;
}
.stayProductiveMessage > a:hover > img {
  margin-left: 12px;
}

.stayProductiveMessage > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #81d9d4;
  left: 0;
  bottom: 0;
}

.testimonialsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 24px 0;
}

.testimonials {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.testimonials::before {
  content: "";
  position: absolute;
  height: 56px;
  width: 56px;
  background: url("/bg-quotes.png") no-repeat;
  top: -36px;
  left: -16px;
  z-index: 1;
}

.testimonials::after {
  content: "";
  position: absolute;
  height: 56px;
  width: 56px;
  background: url("/bg-quotes.png") no-repeat;
  bottom: -36px;
  right: -36px;
  transform: scaleX(-1);
  z-index: 1;
}

.testimonialContainer {
  display: flex;
  flex-direction: column;

  width: 400px;
  padding: 24px 12px;
  border-radius: 8px;
  color: #fff;
  background: #21293c;
  z-index: 2;
}

.testimonialContainer > p {
  display: block;
  flex: 1;
}
.testimonialProfileContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 12px;
  font-size: 12px;
}

.testimonialProfileContainer > img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 4px;
}

.testimonialProfileContainer > div {
  display: flex;
  flex-direction: column;
}

.signUpContainer {
  text-align: center;
}

.signUpContainer > h1 {
  margin: 12px 0;
}

.signUpContainer > p {
  margin-bottom: 24px;
}

.inputAndButton {
  display: flex;
  width: 100%;
  padding: 0 24px;
}

.inputAndButton > input {
  flex: 1;
  border: 0;
  border-radius: 25px;
  margin: 0 12px;
  padding: 0 24px;
}

.inputAndButton > .customButton {
  padding: 12px 32px;
}

@media screen and (max-width: 400px) {
  .pageContent {
    padding: 0 16px;
  }

  .heroContainer {
    margin-top: 64px;
  }

  .heroContainer > img {
    width: 100%;
    margin: 24px 0 36px;
  }

  .heroContainer > .customButton {
    margin-top: 16px;
  }

  .goodPoints {
    display: flex;
    flex-direction: column;
  }

  .goodPoint + .goodPoint {
    margin-top: 32px;
  }

  .stayProductiveContainer {
    display: flex;
    flex-direction: column;
  }

  .stayProductiveContainer > img {
    align-self: center;
    width: 80%;
    margin: 16px 0;
  }

  .testimonialsContainer {
    margin: 72px 0 164px;
    flex-direction: column;
  }

  .testimonials {
    flex-direction: column;
  }

  .testimonialContainer {
    width: 100%;
    padding: 16px 8px;
  }

  .testimonialContainer + .testimonialContainer {
    margin-top: 16px;
  }

  .inputAndButton {
    flex-direction: column;
  }

  .inputAndButton > input {
    padding: 8px 24px;
    margin-bottom: 16px;
  }
}
